h1 {
    color :aqua
}

.header {

    background-color: blueviolet;
    display : flex ;
    justify-content :space-between
}

.grid {

    display : flex ;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {

    display : flex;
    justify-content: flex-end;
}

p,h2 {

    text-align: center;
}